streamlit
streamlit-folium
fastapi
uvicorn
groq
python-dotenv
langgraph
langchain
chromadb
requests
folium
plotly
pandas
yfinance
google-search-results
pypdf
python-docx
python-multipart
numpy>=1.24.0
bcrypt
pyjwt
